
.imgteaser { 
	overflow: hidden;
	/* position: relative; */
}
.imgteaser a {
	text-decoration: none;
}

.imgteaser a img {
	float: left;
	margin: 5px;
	border: none;
    padding: 0px;
}


.imgteaser a .desc {	
	display: none;
	 }

.imgteaser a:hover .desc{
	display: block;
	
	background: #333;
	filter:alpha(opacity=75);
	opacity:.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; /*--IE 8 Transparency--*/
	color: #fff;
	position: absolute;

	margin: 5px;
	width: 117px;
	height: 90px;
	
	text-align:center;

}

.imgteaser a:hover .desc b {
	display: block;
	vertical-align: middle;
	margin-top: 30px;
	font-size:24pt;
}



/* for movies on Available */


.imgteaser2 { 
	overflow: hidden;
	/* position: relative; */
}
.imgteaser2 a {
	text-decoration: none;
}

.imgteaser2 a img {
	float: left;
	margin: 10px;
	border: none;
    padding: 0px;
}


.imgteaser2 a .desc {	
	display: none;
	 }

.imgteaser2 a:hover .desc{
	display: block;
	
	/* background: #333; */
	filter:alpha(opacity=75);
	opacity:.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; /*--IE 8 Transparency--*/
	/* color: #fff; */
	position: absolute;

	margin: 10px;
	width: 320px;
	height: 240px;
	
	text-align:center;

}


.imgteaser2 a:hover .desc img {
	margin-left: 130px;
	margin-top: 90px;
}






/* for movies in Exhibitions (width 150) */


.imgteaser3 { 
	overflow: hidden;
	/* position: relative;
	float: left; */
}

.imgteaser3 a {
	text-decoration: none;
}

.imgteaser3 a img {
	float: left;
	margin: 10px;
	border: none;
    padding: 0px;
}


.imgteaser3 a .desc {	
	display: none;
	 }

.imgteaser3 a:hover .desc{
	display: block;
	
	/* background: #333; */
	filter:alpha(opacity=75);
	opacity:.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; /*--IE 8 Transparency--*/
	/* color: #fff; */
	position: absolute;

	margin: 10px;
	width: 150px;
	height: 112px;
	
	text-align:center;

}


.imgteaser3 a:hover .desc img {
	margin-left: 40px;
	margin-top: 25px;
}


/* Summers of NY */


.imgteaser4 { 
	overflow: hidden;
	/* position: relative; */
}
.imgteaser4 a {
	text-decoration: none;
}

.imgteaser4 a img {
	float: left;
	margin: 5px;
	border: none;
    padding: 0px;
}


.imgteaser4 a .desc {	
	display: none;
	 }

.imgteaser4 a:hover .desc{
	display: block;
	
	background: #333;
	filter:alpha(opacity=75);
	opacity:.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; /*--IE 8 Transparency--*/
	color: #fff;
	position: absolute;

	margin: 5px;
	width: 200px;
	height: 150px;
	
	text-align:center;

}

.imgteaser4 a:hover .desc b {
	display: block;
	vertical-align: middle;
	margin-top: 60px;
	font-size:32pt;
}






